/* ADD YOUR STYLES HERE */


/* Exercise 6 Part 1 */
#lesson-6 {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5%;
}

.horizontal {
    padding-left: 25px;
    padding-right: 25px;
}

/* Exercise 6 Part 2 */
.different {
   float: left;
   padding-left: 25px;
   padding-right: 25px;
}

.top-margin {
    margin-top: 20px;
}


/* Exercise 7 */
.vertical {
    margin-top: 15%;
    margin-bottom: 15%;
}

/* Exercise 7 Part 2 */
#different-vertical {
    margin-top: 15%;
    margin-bottom: 15%;
}


/* Exercise 8 */
#horizontal-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

#horizontal-list li {
    float: left;
}


/* Exercise 9 Part 1 */
a, input {
    display: inline-block;
    background-color: #ed828a;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

#button-1 {
    font-size: 25px;
    padding: 20px 50px 20px 50px;
}

#button-2 {
    font-size: 16px;
    padding: 10px 40px 10px 40px;
}

#button-3 {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
}


/* Exercise 9 Part 2 */
.buttons-2 {
    padding: 10px 40px 10px 40px;
    border: none;
}


/* Exercise 10 */
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-bar {
    display: inline;
    width: 150px;
    padding: 15px 0px 15px 0px;
}