/* ADD YOUR STYLES HERE */


/* Exercise 6 Part 1 */
#lesson-6 {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5%;
}

.horizontal {
    padding-left: 25px;
    padding-right: 25px;
}

/* Exercise 6 Part 2 */
.different {
   float: left;
   padding-left: 25px;
   padding-right: 25px;
}

.top-margin {
    margin-top: 20px;
}


/* Exercise 7 */
.vertical {
    margin-top: 15%;
    margin-bottom: 15%;
}

/* Exercise 7 Part 2 */
#different-vertical {
    margin-top: 15%;
    margin-bottom: 15%;
}


/* Exercise 8 */
#horizontal-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

#horizontal-list li {
    float: left;
}


/* Exercise 9 Part 1 */
a, input {
    display: inline-block;
    background-color: #ed828a;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

#button-1 {
    font-size: 25px;
    padding: 20px 50px 20px 50px;
}

#button-2 {
    font-size: 16px;
    padding: 10px 40px 10px 40px;
}

#button-3 {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
}


/* Exercise 9 Part 2 */
.buttons-2 {
    padding: 10px 40px 10px 40px;
    border: none;
}

/* Exercise 10 */
#navigation {
    line-height: 30px;
    list-style-type: none;
    background-color: #ed828a;
    display: inline-block;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    padding: 5px 50px;
    background-color: none;
}

#navigation li a:hover {
    background-color: white;
    color: #ed828a;
}


/* Exercise 11 */

.pagination {
    padding: 0;
}

.pagination li {
    display: inline-block;
    padding-left: 0;
}

.pagination li a, .pagination li span {
    background-color: white;
    color: #ed828a;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 0;
}

.pag-number {
    border-bottom: 3px solid #ed828a;
}

.pagination li a:hover, .pagination li span:hover {
    border-bottom: 3px solid #cccccc;
    color: #cccccc;
}



/* Exercise 12 */
.text {
    overflow: hidden;
    padding: 8px;
}

.image {
    float: left;
    clear: left;
    padding: 8px;
}

.parent {
    clear: left;
}

.time {
    font-size: 12px;
    color: #c9ced8;
}

